@{
    ViewData["Title"] = "Servicios";
}

<div class="text-center">
    <h1 class="display-4">Nuestros Servicios</h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="\Img\cambio-aceite-portada.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cambio de Aceite</h5>
                <p class="card-text">Cambio de aceite? Lo tenemos cubierto con las mejores marcas en el mercado.</p>
                <a href="#" class="btn btn-success">Agendar cita</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="\Img\LaFerrari.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cambio de pintura</h5>
                <p class="card-text">Buscas un look nuevo y fresco? Personaliza tu vehiculo con nuestros colores.</p>
                <a href="#" class="btn btn-success align-items-center ">Agendar cita</a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="\Img\auto-chequeo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chequeo Mecanico</h5>
                <p class="card-text">No te preocupes mas, deja la salud de t vehiculo en la mano de nuestros mecanicos.</p>
                <a href="#" class="btn btn-success">Agendar cita</a>
            </div>
        </div>

    </div>
</div>