@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3 text-center">Delicias Unicas</h1>
<center>
    <img src="https://phantom-expansion.unidadeditorial.es/ca87f899635400532cc5d854c7504c8b/f/jpg/assets/multimedia/imagenes/2019/06/25/15614775255199.jpg" class="img-fluid" />
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <br>
                Comunicate con nosotros
                deliciasUnicas@restaurante.com
            </div>
            <div class="col-sm">
                Direccion
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62888.520938989546!2d-84.14954463823508!3d9.889526936741472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e32cca9103e1%3A0x576b84d0c33ecd0b!2sSan%20Jos%C3%A9%2C%20Alajuelita!5e0!3m2!1ses-419!2scr!4v1632538210150!5m2!1ses-419!2scr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</center>