@{
    ViewData["Title"] = "Acerca de";
}
<!--Acerca de-->
<h1>@ViewData["Title"]</h1>

<div class="text-center">
     <p>La Fundación PANIAMOR centra su quehacer en el desarrollo y cabildeo de Tecnologías Sociales costo-efectivas para el enfrentamiento de desafíos en el ámbito de su especialidad, identificados como prioritarios para el país en dos ejes fundamentales: la prevención de violencias y exclusión social.</p>
    <p>
        Fundación PANIAMOR es una organización no gubernamental, sin fines de lucro, sin filiación político-partidista,
        de carácter técnico y naturaleza preventiva, que trabaja para incorporar la cultura de los derechos de la niñez y
        la adolescencia en la acción política y social. Con este fin construye alianzas visionarias con el Estado, la empresa
        privada y otras organizaciones nacionales e internacionales con los que potencia el trabajo conjunto de los distintos sectores de la sociedad.
    </p>
    <br>
    <br>
    <div>
        <img src="http://www.paniamor.org/files/slider/images/detail/16_bannerwebmsdweb.jpg"
             width="916" height="357" align="middle">
    </div>
</div>

