@{
    ViewData["Title"] = "Bienvenida";
}
<!--Pagina de bienvenida-->
<div class="text-center">
    <br>
    <h1 class="display-4">¡Bienvenidos al Paniamor!</h1>
    <br>
    <br>
    <div>
        <img src="http://www.paniamor.org/files/slider/images/detail/16_bannerwebmsdweb.jpg"
             width="916" height="357" align="middle">
    </div>
    <br>
    <br>
    <p>Conozca más sobre los servicios disponibles en nuestra organización.</p>
    <p>¡Estamos para servirle!</p>
</div>

