@{
    ViewData["Title"] = "Novedades";
}
<!--Acerca de-->
<h1>@ViewData["Title"]</h1>
<br>
<br>
<div class="text-center">
    <div>
        <img src="https://th.bing.com/th/id/R.e9750827f2b3cb227c6b3d76d086d03e?rik=TJIEbB3rVC83sA&pid=ImgRaw&r=0&sres=1&sresct=1"
             width="370" height="350" align="middle">
        <img src="https://th.bing.com/th/id/R.e7beab8a7f7a4899b4676f4d7c86574f?rik=tvJ%2fPkZCyUnBTw&pid=ImgRaw&r=0"
             width="370" height="350" align="left">
        <img src="https://th.bing.com/th/id/OIP.kAXZ-eGRVTDOWXc879fQFwHaET?pid=ImgDet&rs=1"
             width="370" height="350" align="right">
    </div>
    <br>
    <br>
    <p>Tenemos muchas novedades para vos.</p>
    <p>
        Infocom promoverá adhesión al Código ementores entre sus afiliados de la industria de telecomunicaciones
        Acuerdo incluye capacitación a empresas y disposición de herramientas para prevenir abuso sexual de niñas, niños y adolescentes
    </p>
    <p>
        Este martes se realizó el Tercer Diálogo de la Niñez y Adolescencia de América Latina y el Caribe con la Corte Interamérica de Derechos Humanos (Corte IDH), en el marco de la conmemoración de la Conveción de los Derechos de la Niña y el Niño, gracias al trabajo conjunto del Programa de Apoyo a la Sociedad Civil de Save The Children, Fundación PANIAMOR y la propia Corte IDH.
    </p>

</div>

