@{
    ViewData["Title"] = "Servicios";
}
<!--Acerca de-->
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <br>
    <br>
    <p>Nos dedicamos a dar talleres con los que crearemos consciencia y ayudaremos a las personas en condiciones de riesgo.</p>
    <p>Las personas reflexionan y comprenden cuáles condiciones emocionales, sociales y culturales les han sido transferidas y cómo pueden generar, en su contexto actual, nuevas formas de sentir, hacer y ser.  </p>
    <br>
    <br>
    <div>
        <img src="http://www.paniamor.org/files/slider/images/detail/16_bannerwebmsdweb.jpg"
             width="916" height="357" align="middle">
    </div>
    <br>
    <br>
    <p>
        El Programa Niñez Ciudadana centra sus propuestas innovadoras en las niñas y los niños, como agentes creativos, críticos y propositivos, que conviven en territorios diversos con múltiples personas cuidadoras con roles transcendentales para su desarrollo.
        Así, el Programa fundamenta su estrategia de incidencia política y el diseño-aplicación de metodologías, desde el aporte irremplazable y único de las niñas y los niños.
    </p>
</div>

