@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Bienvenidos! Puedes contactarnos al número de tel: 8888 2222</a>.</p>
</div>
