@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    
    
    

    <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="https://www.mitsubishi.cr/wp-content/uploads/2020/03/Foto-header-621x386px-7-1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mitsubishi L200 2021</h5>
                    <p class="card-text">Motor diésel</p>
                    <p class="card-text">4 cilindros de 2,400 cc</p>
                    <p class="card-text">Frenos ABS / EBD</p>
                    <p class="card-text">Control electrónico de estabilidad y tracción</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn-api.toyotacr.com/toyotacr_website/uploads/family/0ba56b0cacf6446002e84de41b88688acd2177da.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Land Cruiser Prado 2022</h5>
                    <p class="card-text">Motor diésel</p>
                    <p class="card-text">Potencia Hp: 201@3400</p>
                    <p class="card-text">Capacidad del tanque: 87 L</p>
                    <p class="card-text">Pasajeros: 7</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.nissancr.com/content/dam/Nissan/global/vehicles/sentra/b18/all-new/reveal/color-picker/xah/20tdi-senpace042_008.png.ximg.c1h.360.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">NUEVO NISSAN SENTRA</h5>
                    <p class="card-text">Motor gasolina</p>
                    <p class="card-text">4 cilindros DOHC 16 válvulas</p>
                    <p class="card-text">Potencia: 145 hp@6000rpm</p>
                    <p class="card-text">Sistema C-VTCS</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://www.hyundaicr.com/images/modelos/nuevotucson/360/Teal/Teal_6.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Nuevo Tucson Turbo</h5>
                    <p class="card-text">Gasolina</p>
                    <p class="card-text">Motor Smartstream G 1.600 cc TURBO-GDi</p>
                    <p class="card-text">Potencia: 177 hp@5500 rpm</p>
                    <p class="card-text">Trasmision: Automática 7 velocidades Doble Embrague (DCT) Shift by Wire con Paddle Shifter</p>
                    <a href="#" class="btn btn-primary">Consultar</a>
                </div>
            </div>
    </div>

</div>
