@{
    ViewData["Title"] = "Acerca de";
}
<div class="container">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>
            Nuestras metas es brindar atencion de calidad a nuestros clientes en un momento de angustia y
            preocupacion por sus mascotas, teniendo las mejores instalaciones y equipos para resolver el problema medico que padesca su mascota
        </p>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1>Ubicación </h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62888.520937243615!2d-84.14945890900923!3d9.889526945865446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e32cca9103e1%3A0x576b84d0c33ecd0b!2sSan%20Jos%C3%A9%2C%20Alajuelita!5e0!3m2!1ses-419!2scr!4v1632521533009!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-sm">
            <br><br>
            Direccion: Alajuelita <br>
            Telefono: 84101635  <br>
            Correo: bienestarAnimal@veterinara.com
        </div>
        <
    </div>
</div>