@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria Bienestar Animal</h1>
    <p>Abierta 24/7!</p>
</div>
<center>
    <img src="https://wakyma.com/wakymavets/blog/wp-content/uploads/2017/08/7-Consejos-para-mejorar-el-rendimiento-de-ventas-de-tu-Cli%CC%81nica-Veterinaria.jpg" class="img-fluid" />
</center>
<table class="table">
    <tbody>
        <tr>
            <td>
                <a class="nav-link text-dark"  asp-controller="Servicios" asp-action="Servicios">
                    <button class="btn btn-primary">
                        <h4>Consultoria</h4>
                    </button>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark"  asp-controller="Servicios" asp-action="Servicios">
                    <button class="btn btn-primary">
                        <h4>Internamiento</h4>
                    </button>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark"  asp-controller="Servicios" asp-action="Servicios">
                    <button class="btn btn-primary">
                        <h4>Diagnostico</h4>
                    </button>
                </a>
            </td>            
        </tr>
    </tbody>
</table>
