@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nosotros</h1>
    <p>Conoce un poco de nuestra historia</p>
</div>

<br>
<div class="row">
    <div class="col-md-6">
        <p>
            Con la invención del automóvil, Gottlieb Daimler y Karl Benz ponen la primera piedra del tráfico motorizado individual. Ambos integran sus trabajos en empresas propias: en octubre de 1883 Benz funda en Mannheim Benz&Co. y en noviembre de 1890 surge en Cannstatt Daimler-Motoren-Gesellschaft (DMG).
        </p>
    </div>
    <div class="col-md-6">
        <img src="\Img\pagani-huayra-subasta-1_750x341c.jpg" class="img-fluid shadow-none p-3 mb-5 bg-light " alt="Responsive image">

    </div>

</div>

