@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido al HospiSys</h1>
    <p class="lead">En esta plataforma puedes agregar información sobre tus pacientes :)
    <hr class="my-4">
    <p>Accede a las aplicación haciendo click en la pestaña "Pacientes" del menú principal.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Ayuda</a>
    </p>
</div>