@{
    ViewData["Title"] = "Acerca de Veterinaria el Sueño";
}
<h1>@ViewData["Title"]</h1>

<h2>
    Nuestro Personal
</h2>
<div class="bs-example" data-example-id="media-alignment">
    <div class="media">
        <div class="media-left media-middle">

            <img class="media-object" width="100%" height="100%" src="~/img/doc1.jpg" alt="">

        </div>
        <div class="media-body">
            <h4 class="media-heading">Doctora Rodriguez</h4>
            Mi objetivo es hacer sentir cómodos a los pequeños de la casa y brindar todo mi conocimiento con ellos.
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">

            <img class="media-object" width="100%" height="100%" src="~/img/doc3.jpg" alt="">

        </div>
        <div class="media-body">
            <h4 class="media-heading">Doctor Samoro</h4>
            Desde que tengo memoria los animales han sido parte de mi vida y de igual manera mi amor y dedicación por ellos.
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">

            <img class="media-object" width="100%" height="100%" src="~/img/doc2.jpg" alt="">

        </div>
        <div class="media-body">
            <h4 class="media-heading">Doctora Saborío</h4>
            Me especializo en odontología y tengo 19 años ofreciendo mi cariño y cuidado a los peludos.
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">

            <img class="media-object" width="100%" height="100%" src="~/img/doc4.jpg" alt="">

        </div>
        <div class="media-body">
            <h4 class="media-heading">Doctor Quirós</h4>
            Escogí especializarme en cirugía para ayudar a todas aquellas familias que pasan por un mal momento y darles alivio.
        </div>
    </div>
</div>