@{
    ViewData["Title"] = "Servicios";
}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/grooming.jpg" width="100%" height="100%" alt="">
            <div class="caption">
                <h3>Grooming</h3>
                <p>Cortamos y lavamos el pelaje de sus mascotas con todo el cariño que le podemos dar</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/consulta.jpg" width="100%" height="100%" alt="">
            <div class="caption">
                <h3>Consulta Veterinaria</h3>
                <p>Tenemos a los mejores expertos en veterinaria para responder a sus condultas y cuidar de los pequeños de la casa</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/hospital.jpg" width="100%" height="100%" alt="">
            <div class="caption">
                <h3>Hospital Veterinario</h3>
                <p>En nuestras instalaciones tenemos un hospital donde podemos actuar de manera rápida y de la mejor manera en caso de emergencia</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/hotel.jpg" width="100%" height="200" 100%="">
            <div class="caption">
                <h3>Hotel Perruno</h3>
                <p>Un lugar de relajación y diversión para que los pequeños de la casa puedan estar mientras sus dueños están en su día a día</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/tienda.jpg" width="100%" height="100%" alt="">
            <div class="caption">
                <h3>Tienda</h3>
                <p>Adquiera los mejores productos para sus mascotas en nuestra tienda, además ofrecemos buenos precios y gran variedad de productos</p>
            </div>
        </div>

    </div>
</div>