@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contáctenos</h1>

    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo">
        </div>
        <div class="form-group">
            <input type="tel" pattern="[0-9]{4}-[0-9]{4}" class="form-control" placeholder="Teléfono ej:1234-5678">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mensaje">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>
</div>
