@{
    ViewBag.Title = "Acerca de";
}

<head>
    <link href="~/css/Inicio.css" rel="stylesheet" />
</head>


<div class="jumbotron">


    <h2 style="font-family: 'Raleway', sans-serif;  text-align: center;"> ¿Quienes Somos? </h2>
    <br />

    <div class="row">
        <div class="col-md-4">
            <a> <img src="~/Images/Veterinaria1.jpg" width="300" height="300" style="image-orientation:initial;" /></a>
            <br />


        </div>
        <div class="col-md-4">
            
            <p style="text-align: justify; font-display: initial; font-family: 'Raleway',sans-serif;">

                Ofrecemos servicios profesionales en Medicina Veterinaria, cirugías, medicina preventiva, venta de medicamentos, alimentos y accesorios para perros y gatos.

            </p>


        </div>
    </div>
</div>
