
@{
    ViewData["Title"] = "Acerca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: 'Raleway', sans-serif;">
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        ¿Dónde se ubica el zoológico?
        El Zoológico se ubica en el Norte de la ciudad de Guadalajara, Jalisco, en el Parque Natural Huentitán, en la confluencia de la Calzada Independencia y el Periférico Norte. Su domicilio es Av. Paseo del Zoológico 600,
        Apartado Postal 1-1494,
        Guadalajara, Jalisco
        <br />

        ¿Cómo llegar al parque en transporte público?
        En Calzada Independencia se puede tomar el Macrobus con dirección Mirador y bajarse en la estación ZOOLÓGICO. El costo del boleto del
        Macrobus es de $9.50
        pesos por persona.
    <p>
</h1>

