
@{
    ViewData["Title"] = "INICIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: 'Raleway', sans-serif;">
    <br />

    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        El Zoológico Guadalajara es un organismo público descentralizado del H. Ayuntamiento de Guadalajara.
          Es administrado desde su creación, por un Consejo integrado por prominentes empresarios Jaliscienses.
   
        Enclavado en la Barranca de Huentitán, surgió como una necesidad de que la sociedad jalisciense contara con
       un lugar de sano esparcimiento familiar, además de un espacio que le permitiera despertar su interés por
        la conservación de la naturaleza. Fue inaugurado el 11 de Marzo de 1988 por el Presidente de la República
        Costarricense Carlos Alvarado.
        El día 25 del mismo mes, abrió sus puertas al público. El Zoológico Guadalajara tiene tres décadas de servir
        al público tapatío y nacional, así como a turistas de otras partes del mundo. Está considerado uno de los pocos
        zoológicos autofinanciables del País. Cuenta con 50 hectáreas completamente desarrolladas, donde se ha respetado
        la topografía del terreno, así como árboles y flora existentes.
    </p>
</h1>

