@{
    ViewData["Title"] = "Home Page";
}












<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Nuestros Servicios</a>
                <img src="/Imagenes/acercade1.jpg" class="card-img-top" alt="...">

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Somos una empresa </h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Sobre Nosotros</a>
                <img src="/Imagenes/acercade1.jpg" class="card-img-top" alt="...">

            </div>
        </div>
    </div>
</div>



