@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es el index de los productos</p>
    <a asp-area="" asp-controller="Tienda" asp-action="Producto">Ir a la tienda</a>
</div>
