@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h3>Bienvenidos al sistema de Camillas del Hospital CEACO</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Que se realiza en este sistema?</h5>
        <p class="card-text">
            Gracias a este sistema podemos llevar un control de los usuarios ingresados por Covid, en el cual tendremos la información personal de los pacientes,
            el estado en el cual ingresaron y el número de camilla que están utilizando.
        </p>
        <img src="https://www.crhoy.com/wp-content/uploads/2020/03/ceaco-2.jpeg" width="1000" height="500" />
    </div>
</div>
