<h1>Consultoria</h1>

<p>Consulta general para su mascota, medicina preventiva, castraciones...</p>

<h1>Diagnostico</h1>

<p>Laboratorio, radiologia, cirujia, ultrasonidos...</p>

<h1>Internamiento</h1>

<p>Farmacias, internamiento de gatos y perros...</p>