@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image" >
    <img  class="hero-image" width="100%" src="~/css/edificio.jpg" alt=""/>
    <div class="hero-text">
        <h1>Bienvenidos</h1>
        <p>Veterinaria los Sueños</p>
    </div>
</div>
 