
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<head>
    <link href="~/CSS/CSS.css" rel="stylesheet" />
</head>

<br />
<div class="jumbotron">

    <h1 style="font-family: 'Raleway', sans-serif;">Contacto</h1>
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Escribenos zoogdl@zooguadalajara.com
    </p>
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Llámanos +506 22741160
    </p>
</div>

<br />
    </div>

