@{
    ViewBag.Title = "Servicios";
}

<head>
    <link href="~/css/Inicio.css" rel="stylesheet" />
</head>
<br />

<h1 class="text-align:center"> Servicios</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/Images/Clinica general .png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Clinica General</h5>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/Images/internacion.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cirugia</h5>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/Images/Baños.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Baños y peluqueria</h5>

            </div>
        </div>
    </div>
</div>

<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/Images/Odontologia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Odontologia</h5>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="/Images/Petshop.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Petshop</h5>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="/Images/Rayos X.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Rayos X</h5>

            </div>
        </div>
    </div>
</div>
</div>