
@{
    ViewData["Title"] = "Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

<head>
    <link href="~/CSS/CSS.css" rel="stylesheet" />
</head>

<br />
<div class="jumbotron">

    <h1 style="font-family: 'Raleway', sans-serif;">Aves</h1>
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Alcón<br />
        Loro<br />
    </p>
</div>

<br />

<br />
<div class="jumbotron">

    <h1 style="font-family: 'Raleway', sans-serif;">Mamifero</h1>
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Tigre<br />
        Oso<br />
    </p>
</div>

<br />

<br />
<div class="jumbotron">

    <h1 style="font-family: 'Raleway', sans-serif;">Peces</h1>
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Payaso<br />
        Gloso<br />
    </p>
</div>

<br />

<br />
<div class="jumbotron">

    <h1 style="font-family: 'Raleway', sans-serif;">Reptiles</h1>
    <br />
    <p style="font-family: 'Raleway', sans-serif;" class="lead">
        Tortuga<br />
        Serpiente<br />
    </p>
</div>

<br />

</div>
    </div>

