@{
    ViewData["Title"] = "Veterinaria Ciudad Mascotas";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a Ciudad Mascotas!</h1>
    <br>
    <br>
    <div>
        <img src="https://i0.wp.com/www.universidadescr.com/blog/wp-content/uploads/2016/04/shutterstock_183585236-copia.jpg?fit=1100%2C733&ssl=1"
             width="370" height="350" align="middle">
        <img src="https://www.promedco.com/images/NOTICIAS_2020/reducir-estres-de-mascotas-1.jpg"
             width="370" height="350" align="left">
        <img src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/social_share_large/public/2020-12/purina-consulta-veterinaria-para-mascotas-lo-que-debes-saber.jpg?itok=-YoxixyF"
             width="370" height="350" align="right">
    </div>
    <br>
    <br>
    <p>Conozca más sobre nuestros servicios de veterinaria.</p>
    <p>¡Estamos para servirle!</p>
</div>
