@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Hola, Bienvenido a Vehiculos CR</h1>
        <p class="lead">Nuesta agencia ofrece el servicio de venta de vehiculos nuevos y usados de las mejores marcas y con los mejores precios del pais, además ofrecemos el servicio de taller con personal especializado para todas las marcas</p>
        <hr class="my-4">
        <p>No dude en contactarnos</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>
