@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre Completo</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Diego Coto Ceciliano">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput2">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="abc@gmail.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Detalle su consulta"></textarea>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-success " id="exampleFormControlTextarea1" rows="3" value="Enviar"></input>
            </div>

        </form>
    </div>
    
</div>
