@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es el index de los clientes</p>
    <a asp-area="" asp-controller="Cliente" asp-action="Cliente">Cliente</a>
</div>
