@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">¡Cotice nuestros servicios!</h1>
    <br>
    <p>A continuación, encontrará un espacio para llenar la información sobre su mascota.</p>
    <p>Le brindaremos la información lo más pronto posible.</p>
</div>
<div align="center">
    <h3>Información Cliente</h3>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Completo</label>
        <input class="form-control" id="nombre" placeholder=" ">
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="correo" placeholder="ejemplo@ejemplo.com">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input class="form-control" id="telefono" placeholder=" ">
    </div>
</div>
<div align="center">
    <h3>Información Mascota</h3>
    <div class="mb-3">
        <label for="nombreMascota" class="form-label">Nombre de su Mascota</label>
        <input class="form-control" id="nombreMascota" placeholder=" ">
    </div>
    <div class="mb-3">
        <label for="raza" class="form-label">Raza</label>
        <input class="form-control" id="raza" placeholder=" ">
    </div>
    <div class="mb-3">
        <label for="peso" class="form-label">Peso</label>
        <input class="form-control" id="peso" placeholder=" ">
    </div>
    <div class="mb-3">
        <label for="sintoma" class="form-label">Síntoma de la mascota</label>
        <input class="form-control" id="sintoma" placeholder=" ">
    </div>
</div>