@model Zoologico.Models.Historial

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/css/Inicio.css" rel="stylesheet" />
</head>

<div class=" jumbotron">
    <h1>Edit</h1>

    <h4>Historial</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Aves" class="control-label"></label>
                    <input asp-for="Aves" class="form-control" />
                    <span asp-validation-for="Aves" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mamiferos" class="control-label"></label>
                    <input asp-for="Mamiferos" class="form-control" />
                    <span asp-validation-for="Mamiferos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Peces" class="control-label"></label>
                    <input asp-for="Peces" class="form-control" />
                    <span asp-validation-for="Peces" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reptiles" class="control-label"></label>
                    <input asp-for="Reptiles" class="form-control" />
                    <span asp-validation-for="Reptiles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
